@import './var';

section {
    article {
        margin: auto;
        padding: 8px; margin-top: 20px;
        box-shadow: 0 0 4px $shadow-color;
        background-color: white;
        .head {
            border-bottom: 1px solid $shadow-color;
            h3 {
                margin-top: 0; margin-bottom: 4px;
            }
            .details {
                text-align: right;
                span {
                    color: $grey;
                    font-size: 0.7rem;
                    margin-right: 10px;
                }
                span.time {
                    margin-right: 0;
                }
            }
        }
        .body {
            margin-top: 10px; margin-bottom: 8px;
            img {
                max-width: 100%;
                height: auto !important;
            }
        }
        .foot {
            font-size: 0.8rem;
            height: 24px;
            line-height: 30px;
            .btns {
                float: right;
            }
        }
        button {
            margin: 3px;
            background: $grey-btn-linear-gradient;
        }
    }
}