@import './var';

.board-head {
    width: $board-width; margin: auto;
    .link {
        float: left; font-size: 0.9rem; color: black; margin: 0 10px 10px 0;
        button {
            width: 80px; height: 30px; font-weight: bolder;
            background: $search-btn-linear-gradient;
        }
    }
    form {
        float: left;
        .wrap {
            float: left;
            height: 30px;
            &.left {
                width: 80px; margin-right: 8px;
            }
            &.right {
                width: 240px; max-width: calc(100% - 88px);
            }
        }
        .input-search {
            float: left;
            font-size: 0.7rem;
            box-shadow: 0 0 4px #c4c4c4;
            &.type {
                width: 80px; height: 30px; border: none;
            }
            &.keyword {
                width: 180px; max-width: calc(100% - 46px); 
                height: 28px; border: none;
            }
        }
        button {
            float: left;
            width: 30px; margin-left: 8px;
            height: 30px; background: $search-btn-linear-gradient;
            box-shadow: 0 0 4px #c4c4c4;
        }
    }
}
.board-head:after {
    clear: both; display: block; content: "";
}

.section {
    width: $board-width; margin: auto;
    .board, .info-board {
        .item {
            font-size: 0.9rem; text-align: center;
            background-color: white;
            border-bottom: 1px solid #409ec7;
            &:first-child {
                border-top: 1px solid #409ec7;
            }
            .wrap {
                width: 100%;
                padding-top: $board-item-padding-side; padding-bottom: $board-item-padding-side;
                //left
                .id {
                    font-size: 0.75rem; color: #808080;
                    display: inline-block; width: $board-id-width;
                }
                .title, .contents {
                    display: inline-block; width: $board-title-width; 
                    text-align: left;
                }
                .link {
                    text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
                    text-align: left;
                }
                //right
                &.right {
                    font-size: 0.75rem; color: #808080;
                    .author, .category {
                        display: inline-block; width: $board-author-width;
                        span {
                            text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
                        }
                    }
                    .read_count {
                        display: inline-block; width: $board-read-count-width;
                    }
                    .created_at {
                        display: inline-block; width: $board-time-width;
                    }
                }
            }
        }
    }
    .info-board {
        .item {
            .right.wrap.solo {
                .created_at {
                    width: calc(100% - 8px); padding-right: 8px; text-align: right;
                }
            }
        }
    }
}