@import './var';

// board, info-board
.board, .info-board {
    .item {
        font-size: 0.9rem;
        .id {
            display: inline-block; width: 50px; border: 1px solid black;
        }
        .title {
            display: inline-block; width: 600px; max-width: 80%; border: 1px solid black;
        }
        .link {
            display: inline-block; max-width: 85%; border: 1px solid black;
            text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
        }
        .author {
            display: inline-block; width: 200px; border: 1px solid black;
        }
        .read_count {
            display: inline-block; width: 50px; border: 1px solid black;
        }
        .created_at {
            display: inline-block; width: 50px; border: 1px solid black;
        }
        //info-board     
        .category {
            display: inline-block; width: 100px; border: 1px solid black;
        }
        .contents {
            display: inline-block; width: 600px; border: 1px solid black;
        }
    }
}