@import './var';

.log-in-form, .sign-up-form {
    width: $form-width; margin: auto;
    h2 { text-align: center; }
    p { 
        display: block; width: 100%; margin-left: 8px;
        line-height: 0;
    }
    input { 
        display: block; width: calc(100% - 12px); //padding*2
        margin: auto;
        border: 1px solid black; border-radius: 3px;
        padding: 6px; background-color: #d5eaf7;
    }
    input:focus {
        outline: 2px solid red; box-shadow: 0 0 1px red;
    }
    .fail-message { 
        height: 35px; font-size: 0.7rem; color: red;
        text-align: center; margin-top: 3px; }
    button, input[type=button] {
        display: block; width: 100%; margin: auto;
        height: 30px;
        background: $submit-btn-linear-gradient;
        border-radius: 10px;
    }
    .link, a { 
        margin: 8px;
        color: #737373; 
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
    }
    .link:visited, a:visited { color: #737373; }
}

.sign-up-form {
    button { 
        margin-top: 10px; max-width: $form-btn-max-width; 
    }
    button.submit {
        margin-top: 20px; max-width: initial; width: $form-signup-submit-btn-width;
    }
    .fail-message { height: 28px; }
    button.remove-btn {
        margin-top: 20px;
        background: $remove-btn-linear-gradient;
    }
    .block {
        height: 150px;
    }
    .delete-form {
        span {
            display: inline-block; margin: 12px 0 12px;
        }
        .fail-message {
            height: 12px;
        }
    }
}