@import './var';

// board
section {
    .replies {
        box-shadow: 0 0 4px $shadow-color;
        background-color: white;
        margin-top: 20px;
        padding: 8px;
        .reply {
            font-size: 0.9rem; position: relative;
            border-bottom: 1px solid $grey;
            padding-bottom: 8px;
            margin-bottom: 8px;
            &:last-child {
                border-bottom: none;
                padding-bottom: initial;
                margin-bottom: initial;
            }
            .author {
                font-weight: bolder;
                padding-bottom: 3px;
            }
            .contents {
                padding-bottom: 3px;
            }
            .delete-box {
                display: inline-block; position: absolute; 
                right: $reply-foot-right-box-width;
                padding: 3px;
                border: 3px solid $border-color;
                background-color: white;
                button {
                    margin-left: 8px;
                    background-color: $sub-background-color;
                }
            }
            .foot {
                height: 24px;
                line-height: 30px;
                .right-box {
                    float: right; width: $reply-foot-right-box-width;
                    font-size: 0.7rem; color: $grey;
                    text-align: right;
                    span {
                        margin-right: 3px;
                    }
                    button {
                        margin: 3px;
                        background: $grey-btn-linear-gradient;
                    }
                }
            }
        }
    }
    .reply-form {
        textarea {
            border: 1px solid grey;
            padding: 3px;
            width: calc(100% - 8px); // (border + padding) *2
        }
        textarea:focus {
            outline: 2px solid #eb4034;
        }
        button {
            background: $grey-btn-linear-gradient;
            margin-right: 3px; margin-bottom: 8px;
        }
    }
}