// global
$main-background-color: #0059ab;
$sub-background-color: #7bb1e3;
$border-color: #409ec7;
$shadow-color: #c4c4c4;
$grey: #808080;
$font-size: 1rem;
$submit-btn-linear-gradient: linear-gradient(to top,
    rgb(0, 69, 115) 0%,
    rgb(0, 119, 199) 100%
);
$remove-btn-linear-gradient: linear-gradient(to top,
    rgb(153, 5, 5) 0%,
    rgb(214, 43, 43) 100%
);
$grey-btn-linear-gradient: linear-gradient(to top,
    rgb(186, 186, 186) 0%,
    rgb(186, 186, 186) 40%,
    rgb(227, 227, 227) 100%
);

// sidebar
$sidebar-height: 40px;
$sidebar-padding: 5px;
$h1-size: 1.2rem;
$sidebar-btn-side-length: 30px;
$user-box-logged-out-width: 100px;
$user-box-icon-margin: 4px;
$user-box-logged-in-width: $sidebar-btn-side-length * 2 + $user-box-icon-margin * 4;
$sidebar-menu-top: $sidebar-height - 6px;

// login, signup
$form-width: 80%;
$form-btn-max-width: 130px;
$form-signup-submit-btn-width: 200px;

// infohead
$info-head-li-width: 32%;
$info-head-li-line-width: 5px;

// write

//board
$board-width: 96%;
$board-item-padding-side: 3px;
$board-id-width: 50px;
$board-title-width: calc(100% - 50px); //100% - $board-id-width
$board-read-count-width: 100px;
$board-time-width: 70px;
$board-author-width: calc(100% - 170px); //100% - readcount, time

//pagination
$side-length: 24px;

// replies
$reply-foot-right-box-width: 130px;

// font
@font-face {
    font-family: rubik;   
    src: url("/fonts/Rubik-Regular.ttf");
}