@charset "utf-8";
// global
$main-background-color: #0059ab;
$sub-background-color: #7bb1e3;
$border-color: #409ec7;
$shadow-color: #c4c4c4;
$grey: #808080;
$font-size: 1rem;
$submit-btn-linear-gradient: linear-gradient(to top,
    rgb(0, 69, 115) 0%,
    rgb(0, 119, 199) 100%
);
$remove-btn-linear-gradient: linear-gradient(to top,
    rgb(153, 5, 5) 0%,
    rgb(214, 43, 43) 100%
);
$grey-btn-linear-gradient: linear-gradient(to top,
    rgb(186, 186, 186) 0%,
    rgb(186, 186, 186) 40%,
    rgb(227, 227, 227) 100%
);

// sidebar
$sidebar-height: 40px;
$sidebar-padding: 5px;
$h1-size: 1.2rem;
$m993-h1-size: 1.6rem;
$sidebar-btn-side-length: 20px;
$user-box-icon-margin: 6px;
$user-box-logged-in-width: 80px;
$m769-user-box-logged-in-width: 210px;
$sidebar-menu-top: $sidebar-height - 6px;
$m993-sidebar-width: 200px;
$m993-sidebar-menu-width: $m993-sidebar-width + $sidebar-padding * 2 - 10px; //10 은 .menu의 paddng
// $m993-sidebar-menu-top: 
// $m993

// login, signup
$form-width: 80%;
$form-btn-max-width: 130px;
$form-signup-submit-btn-width: 200px;
$form-max-width: 300px;

// infohead
$info-head-li-width: 32%;
$info-head-li-line-width: 5px;

// write
$write-width: calc(96% - 16px); //16px = padding

//board
$board-width: 96%;
$board-item-padding-side: 3px;
// left wrap
$board-id-width: 50px;
$board-padding-right: 8px;
$board-title-width: calc(100% - 50px - 8px); // 100% - $board-id-width - $board-padding-right
$m769-board-left-wrap-width: calc(100% - 140px - 100px - 70px); //100% - $m769-board-author-width - $board-read-count-width - $board-time-width
$m769-board-title-width: calc(100% - 50px - 8px); //100% - $board-id-width - $board-padding-right
$m769-info-board-replies-left-wrap-width: calc(100% - 70px); //100% - $board-time-width
$m769-info-board-replies-contents-width: calc(100% - 50px - 8px); //100% - $board-id-width - $board-padding-right
// right wrap
$board-read-count-width: 100px;
$board-time-width: 70px;
$board-author-width: calc(100% - 100px - 70px); //100% - $board-read-count-width - $board-time-width
$m769-board-author-width: 140px;

//pagination
$side-length: 24px;

// replies
$reply-foot-right-box-width: 190px;

// footer

// font
@font-face {
    font-family: rubik;   
    src: url("/fonts/Rubik-Regular.ttf");
}