@import './var';

// write
.write {
    width: $write-width; margin: auto;
    margin-top: 15px; padding: 8px;
    box-shadow: 0 0 4px $shadow-color;
    background-color: white;
    input.title {
        width: calc(100% - 12px); padding: 4px;
        margin-top: 8px; margin-bottom: 8px;
        border: 1px solid $shadow-color;
    }
    input.title:focus {
        border: 1px solid #4287f5;
    }
    button {
        margin: 10px 4px 6px 0;
        background: $grey-btn-linear-gradient;
    }
}