@import './styles/index';

html, body {
    background-color: #f2f2f2; margin: 0; padding: 0;
    font-size: $font-size; font-family: rubik;
}
.link, a { text-decoration: none; color: black; }
.link:visited, a:visited, .link:active, a:active { color: black; }
img { width: 100%; height: 100% }
ul, ol { list-style: none; padding-left: 0px; }
button, input[type=button], input[type=submit] { 
    border: none; outline: none; background-color: rgba(0,0,0,0); 
    color: white;
    padding: 3px 8px 3px 8px;
}
input:focus {
    outline: none;
}
select, option { 
    outline: none;
}

select:focus {
    outline: none;
}

.blank { display: inline-block; }

.main {
    margin-top: $sidebar-height;
    padding: 20px;
    .section-wrap {
        min-height: calc(100vh - 245px); //최소길이일때 스크롤 없을 만큼
    }
}

@media (min-width: 993px) {
    .main {
        margin-top: 0;
        margin-left: $m993-sidebar-width;
        .section-wrap {
            min-height: calc(100vh - 195px); //최소길이일때 스크롤 없을 만큼
        }
    }
}

// auth
.personal-btn {
    display: none;
    &.show {
        display: initial;
    }
}